* {
    font-family: sans-serif;
    
}
.wrapper {
    text-align: center;
}
.main {
    background-color: black;
    width: 300px;
    height: 500px;
    display:inline-block;
    margin-top: 150px;
    border-color: grey ;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    
}

.display{
    margin: 30px;
    padding: 10px;
    height: 30px;
    width: 240px;
    border-radius: 30px;
    border-style: solid  #e9e9e9;
    color:white;
    text-align: right;
    font-size: 60px;   
    
}
.button-group {
    padding-left: 2px;
    
}
.calc-button, .calc-etc, .calc-operator{
    height: 60px;
    width: 60px;
    font-size: 25px;
    margin-left: 4px;
    margin-top: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    outline: 0;
    color: white;
    background-color: #505050;
}

.calc-etc {
    color: black;
    background-color: #D4D4D2; 
}

#btn-divide,#btn-multiply,#btn-minus,#btn-add,#btn-equal {
    background-color: #FF9500;
    color: white;
}

#btn-0 {
    width: 130px;
    text-align: left;
    padding-left: 23px;
}